/* For Repeated values : fonts, breakpoints and colors*/


//FONTS

//BREAKPOINTS
$break-mobile:'(min-width: 480px)';
$break-desktop: '(min-width: 1024px)';


//Colors for General usage
$bright-turquoise: #00EDC4;
$aqua: #00E2FF;
$emerald: #5ACD90;
$geraldine: #FF808D;
$vivd-tangerine: #FF9276;
$heliotope-purple: #C88CFF;

//Colors for the grid buttons
$pastel-green-12: #5CDA79;
$chetwode-blue-6: #8786DE;
$harvest-gold-4: #E5B376;
$lavender-3: #DD70EA;
$mint-green-5: #80F397;
$terracotta-7: #E47D67;
$fountain-blue-8: #60C6AC;
