.nav {
@extend %nav;
  &__item {
    text-align: center;
    margin: 20px;
    padding: 5px;
    a, a:visited {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      background-color: $bright-turquoise;
      color: white;
      padding: 15px;
      border-radius: 5%;
    }
  }
}
// Navgigation logo
.grid__col--3{
  margin: 0 auto;
  padding: 30px ;
  margin-bottom: 20px;
}

//para in navi
.grid__col--12 p {
  @include font-styling(1.8em, lighter, 1em);
}
